*{
    padding: 0px;
    margin: 0px;
  }
  body{
    background: black;
  }
  .btn-summit{
    background: orangered;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 30%;
    width: 33.33%;
  }
  .title-1{
    width: auto;
    font-size: 32px;
    border-top-color: black;
    border-right-color: black;
    border-bottom-color:black;
    border-left-color: black;
  }
  img{
    width: 180px; height: 180px;
    display: block;
    margin: auto;
    border-radius: 12px;
  }
  input[type="text"],
      input[type="email"],
      input[type="password"],
  input[type="file"]{
        background: transparent;
        color: #fff;
        border: none;
        border-bottom: 2.5px solid rgb(255,69,0);
      }
  .fondo{
    background-color: black;
  }
  label{
    color: white;
  }
  .input:focus{
    border-color: orangered;
    outline: 0 none;
  }