*{
    padding: 0px;
    margin: 0px;
  }
  body{
    background: black;
  }
  .btn-summit{
    background: orangered;
    border: none;
    max-width: auto;;
  }
  .btn-summit:hover {
    background-color: #1a7611;
    transform: translateY(-3px);
  }

  img{
    width: 180px; height: 180px;
    display: block;
    margin: auto;
    border-radius: 12px;
  }
  input[type="text"],
      input[type="email"],
      input[type="password"],
  input[type="file"]{
        background: transparent;
        color: #fff;
        border: none;
        border-bottom: 2.5px solid rgb(255,69,0);
      }
  .fondo{
    background-color: black;
  }
  label{
    color: white;
    text-align: 2;
    border-left:  2.5px solid rgb(255,69,0);
    padding-left: 3%;
  }
  .input:focus{
    border-color: orangered;
    outline: 0 none;
  }

  small{
    border-left: rgb(151, 151, 151);
    size: 15px;
  }